@charset "UTF-8";

#main_menu {
  text-align: center;
}
.menu ul li {
  text-align: center;
  display: inline-block;
  border-left: 3px solid rgb(128, 255, 128);
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 25px;
}

.menu .menu_auth+li {
  border-right: 3px solid rgb(128, 255, 128);
}

.test_list ul li {
  display: inline-block;
  padding: 20px 30px 30px 30px;
  font-size: 20px;
  font-weight: bolder;

}
pre{
  margin:0px;
}

ul{
  padding-left : 0px;
}
body {
  background-color: black;
  color: rgb(128, 255, 128);
}

a {
  color: rgb(128, 255, 128);
  text-decoration: none;
}
